/* font-family: "Inter", sans-serif; */
* {
    margin:0;
    padding:0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: black;
}

/* Fonts and Icons */
.icons {
    fill: white;
    padding:0px 10px;
}


.navText {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Header and Navbar */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

header {
    z-index: 999;
    padding: 3vh 0px;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

header nav {
    padding: 0px 6vw;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}

header.desktop-head a {
    padding: 1vw;
    text-decoration: none;
    color:white;
    transition: all 0.2s ease-in-out;
}

.c1:hover {
    background-color: #9c79e6;
}

.c2:hover {
    background-color: #ff7477;
}

.c3:hover {
    background-color: #a0e695;
}

.c4:hover {
    background-color: #9cf6f6;
}

.c5:hover {
    background-color: #6368E7;
}

header a:hover {
    background-color: white;
    color: black;
}

header h1 a {
    padding: 0px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 200;
}

header.desktop-head h1 a:hover {
    background-color: white;
    color: black;
}

/* Mobile Header */
.mobile-head {
    z-index: 998;
    size:0;
    visibility: collapse;
}

/* Create four equal columns inside a row that sits next to each other */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6vw;
    padding-top: 120px;
}

.column {
    flex: 24.5%;
    max-width: 24.5%;
}

.item {
    padding: 6px;
    vertical-align: middle;
    width: 100%;
    transition: all 0.1s ease-in-out;
}

.item:hover {
    transform: scale(1.1);
    background-color: purple;
    background-size: 20px 20px;
    opacity: 100;
    cursor:zoom-in;
}

.item:active {
    z-index: 9999;
    top: 0;
    backdrop-filter: blur(10px);

    min-height: 100%;
    position: fixed;
    width: auto;
    height: auto;
    max-height: 1024px;
    
    padding: 10px;
    transition: all .15s linear;
    background: #cc0000;
    background-size: 100%;
    
}

/* Footer */
footer {
    padding: 2vh 0px;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .desktop-head {
        visibility: collapse;
    }

    .mobile-head {
        visibility: visible;
    }

    header {
        padding: 10px 0px;
        padding-bottom: 10px;
        max-height: 50px;
    }
    header nav{
        padding:0;
        display: inline-block;
        max-height: 50px;
    }
    header h1{
        display:inline-block;
    }
    header a{
        text-decoration: none;
        color:white;
    }

    .material-symbols-outlined {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 36px;
    }

    ul.works-menu {
        display:flex;
        flex-direction: column;
        float: inline-start;
        align-items: flex-end;
        list-style: none;
        visibility: collapse;
        opacity: 0;
        cursor: pointer;

        background: rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;
    }

    span:active .works-menu {
        opacity: 1;
        visibility: visible;
    }

    ul.works-menu a {
        font-family: "Inter", sans-serif;
        font-size: 1.2rem;
    }

    

    /* Gallery Stuff */
    .column {
        flex: 49%;
        max-width: 49%;
        padding: 2px;
    }
    .item {
        padding:2px;
    }

    .container {
        padding: 120px 0;
    }
}