/* font-family: "Inter", sans-serif; */
* {
    margin:0;
    padding:0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: black;
}

/* Fonts and Icons */
.icons {
    fill: white;
    padding:0px 10px;
}


.navText {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Header and Navbar */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

header {
    z-index: 999;
    padding: 3vh 0px;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

header nav {
    padding: 0px 6vw;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}

header a {
    padding: 1vw;
    text-decoration: none;
    color:white;
    transition: all 0.2s ease-in-out;
}



header a:hover {
    background-color: white;
    color: black;
}

header h1 a {
    padding: 0px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 200;
}

header h1 a:hover {
    background-color: white;
    color: black;
}

/* Organized using Flexbox 
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start;
    padding: 0px 160px;
    min-height: 400px;
}


.item {
    padding:40px 0px;
    border: 1px solid cornflowerblue;
    background-color: rgba(0, 0, 255, 0.3);
    width: 23%;
    min-width:auto;
    height: auto;

}
*/

/* Create four equal columns inside a row that sits next to each other */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6vw;
    padding-top: 120px;
}

.column {
    flex: 24.5%;
    max-width: 24.5%;
}

.item {
    padding: 6px;
    vertical-align: middle;
    width: 100%;
    transition: all 0.1s ease-in-out;
}

.item:hover {
    transform: scale(1.1);
    background-color: purple;
    background-size: 20px 20px;
    opacity: 100;
    cursor:zoom-in;
}

.item:active {
    z-index: 9999;
    top: 0;
    backdrop-filter: blur(10px);

    min-height: 100%;
    position: fixed;
    width: auto;
    height: auto;
    max-height: 1024px;
    
    padding: 10px;
    transition: all .15s linear;
    background: #cc0000;
    background-size: 100%;
    
}

/* Footer */
footer {
    padding: 2vh 0px;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    list-style: none;
}