* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* Tells the images to always scale width to the container, the height:auto sets the aspect ratio*/
img {
    width: 100%;
    height: auto;
}

/* Flexbox simple row layouts */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* some styles so we can see all of our containers */
    border: 1px solid purple;
    background-color: rgba(255, 0, 255, 0.3);
    min-height: 400px;
}

.item {
    border: 1px solid cornflowerblue;
    background-color: rgba(0, 0, 255, 0.3);
    width: 23%;
    min-height: 300px;
}

/* Atomic CSS Design Patterns */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-even {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-stretch {
    align-self: stretch;
    height: auto;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: columns;
    }

    .self-stretch {
        width: auto;
    }
} 

header {
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(185, 213, 213);
}

.grid-item {
    width: 23%;
    margin: 1%;
}

.secondary-nav {
    min-width: 25%;
    background-color: rgb(222, 239, 239);
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid grey;
}

.menu span {
    padding: 1rem;
    font-size: 2rem;
}

.menu a {
    text-decoration: none;
    font-weight: 600;
    color: #111;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu a:hover {
    background-color: rgba(0,0,0, 0.1);
}


footer {
    background-color: rgb(158, 205, 198);
}

@media screen and (max-width:1024px) {
    .grid-item {
        width: 48%;
    }
}

@media screen and (max-width:768px) {
    .wrapper {
        flex-direction: column;
    }

    .secondary-nav {
        order: 1;
    }

    .grid-container {
        flex-direction: column;
        order: 2;
    }
}